$breakpoint-sm: 540px;
$breakpoint-md: 660px;
$breakpoint-lg: 717px;

@mixin x-x-small {
  @media (max-width: 367px) {
    @content;
  }
}

@mixin x-small-only {
  @media (min-width: 368px) and (max-width: 539px) {
    @content;
  }
}

@mixin x-small {
  @media (max-width: #{$breakpoint-sm - 1px}) {
    @content;
  }
}

@mixin sm-md-xl {
  @media (min-width: #{$breakpoint-sm + 1px}) {
    @content;
  }
}

@mixin large {
  @media (width: #{$breakpoint-sm}) {
    @content;
  }
}

$font-stack: 'Avenir Next', 'Arial', sans-serif;

@import "colors";

#calculator {

  max-width: 580px;
  margin-bottom: 25px;
  font-family: $font-stack;
  font-size: 18px;
  padding: 20px;
  background-color: $green-secondary-5;
  background-image: url(https://fm.cnbc.com/applications/cnbc.com/resources/files/2020/01/29/background-5.png);
  background-position: left 105px;
  background-repeat: no-repeat;
  background-size: 620px;
  @include x-small {
    background-position: left 160px;
  }

  .intro {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .2px;
    margin-bottom: 20px;
    max-width: 490px;
  }

  b {
    font-weight: 700;
  }

  .calculator-label {
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 5px 0 40px;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
    max-width: 265px;
    @include sm-md-xl {
      font-size: 24px;
      max-width: 450px;
    }
  }

  .input-area {
    width: 100%;
    @include x-small {
      max-width: 350px;
    }
  }

  label {
    display: block;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 5px;
  }

  .calc-input {
    margin-bottom: 20px;
    & input {
      border: 1px solid $slate-secondary-3;
      font-size: 24px;
      color: $green-primary;
      font-weight: 600;
      padding: 5px 5px 5px 10px;
      width: 205px;
      @include x-small {
        width: 235px;
      }
    }
    &.money-input {
      &:after {
        content: '$';
        position: relative;
        top: -2px;
        left: -210px;
        height: 20px;
        width: 10px;
        z-index: 999;
        color: $slate-secondary-3;
        @include x-small {
          left: -240px;
        }
      }
      @include sm-md-xl {
        float: left;
        margin-right: 25px;
      }
      & input {
        padding-left: 25px;
        width: 190px;
        @include x-small {
          width: 220px;
        }
      }
    }
  }

  .calc-input-radio {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    // margin-top: -15px;
    & input {
      position: absolute !important;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      width: 1px;
      border: 0;
      overflow: hidden;
      &:checked + label {
        box-shadow: none;
        background-image: url(https://fm.cnbc.com/applications/cnbc.com/resources/files/2020/01/29/white-radio-filled.png);
      }
    }
    & label {
      background-image: url(https://fm.cnbc.com/applications/cnbc.com/resources/files/2020/01/29/white-radio-empty.png);
      background-repeat: no-repeat;
      background-size: 18px;
      background-position: 0px center;
      font-size: 16px;
      line-height: 1;
      font-weight: 500;
      letter-spacing: .2px;
      padding: 8px 2px 6px 24px;
      margin-right: 10px;
      border: 0;
      margin-bottom: 0;
      transition: all 0.2s ease-in-out;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .results {
    width: 100%;
    margin-top: -74px;
    margin-bottom: 20px;
    @include x-small {
      margin-top: -105px;
    }
  }

  .value-text  {
    font-size: 22px;
    & .result {
      font-weight: 600;
      color: white;
    }
  }

  .chart-credit, .chart-source {
    font-size: 9.5px;
    line-height: 12px;
    text-transform: uppercase;
    color: $slate-secondary-5;
    letter-spacing: 1px;
    width: 100%;
    color: white;
    // margin-top: 20px;
    @include sm-md-xl {
        font-size: 10px;
        text-align: right;
        margin-bottom: -30px;
        margin-left: -10px;
    }
  }

  .chart-source {
    @include sm-md-xl {
      margin-bottom: 0px;
  }
    @include x-x-small {
      margin-top: 80px;
    }
  }

  button {
    margin: 5px 0 85px;
    color: white;
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    letter-spacing: .7px;
    text-transform: uppercase;
    padding: 8px 16px 8px 16px;
    border: 0;
    transition: all 0.2s ease-in-out;
    background-color: $green-secondary-6;
    width: 225px;
    &:hover {
      cursor: pointer;
      color: #fff;
      background-color: $green-primary;
      box-shadow: inset -1px -1px 4px 1px $green-secondary-4;
    }
    @include x-small {
      padding: 12px 16px 12px 16px;
      margin-bottom: 120px;
    }
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }

  & .grow-logo {
    width: 214px;
    margin-top: 10px;
    margin-right: 20px;
  }

& .highcharts-legend {
  @include sm-md-xl {
    transform: translate(135px,20px) !important;
  }
  @include x-small {
    transform: translate(3px,0) !important;
  }
  
}

}

