$breakpoint-sm: 540px;
$breakpoint-md: 660px;
$breakpoint-lg: 717px;

@mixin x-x-small {
  @media (max-width: 367px) {
    @content;
  }
}

@mixin x-small-only {
  @media (min-width: 368px) and (max-width: 539px) {
    @content;
  }
}

@mixin x-small {
  @media (max-width: #{$breakpoint-sm - 1px}) {
    @content;
  }
}

@mixin sm-md-xl {
  @media (min-width: #{$breakpoint-sm + 1px}) {
    @content;
  }
}

@mixin large {
  @media (width: #{$breakpoint-sm}) {
    @content;
  }
}

$font-stack: 'Avenir Next', 'Arial', sans-serif;

@import "colors";

#calculator {
  @import "highcharts";

  max-width: 580px;
  margin-bottom: 25px;
  font-family: $font-stack;
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background-color: $green-secondary-5;
  background-image: url(https://fm.cnbc.com/applications/cnbc.com/resources/files/2020/01/29/background-5.png);
  background-position: left 75px;
  background-repeat: no-repeat;
  background-size: 620px;
  @include x-small-only {
    background-position: left 110px;
  }
  @include x-x-small {
    background-position: left 145px;
  }

  b {
    font-weight: 700;
  }

  .calculator-label {
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 5px 0 40px;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
    @include sm-md-xl {
      font-size: 24px;
    }
  }

  .input-area {
    width: 100%;
    max-width: 240px;
    // flex-shrink: 0;
    @include x-small {
      max-width: 350px;
    }
  }

  .calc-input {
    margin-bottom: 20px;
    & label {
      display: block;
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 5px;
    }
    & input {
      border: 1px solid $slate-secondary-3;
      font-size: 24px;
      color: $green-primary;
      font-weight: 600;
      padding: 5px 5px 5px 10px;
      width: 180px;
      @include x-small {
        width: 215px;
      }
    }
    &.money-input {
      &:after {
        content: '$';
        position: relative;
        top: -2px;
        left: -180px;
        height: 20px;
        width: 10px;
        z-index: 999;
        color: $slate-secondary-3;
        @include x-small {
          left: -225px;
        }
      }
      & input {
        padding-left: 25px;
        width: 160px;
        @include x-small {
          width: 200px;
        }
      }
    }
    &.percent-input {
      &:after {
        content: '%';
        position: relative;
        top: -2px;
        left: -35px;
        height: 20px;
        width: 10px;
        z-index: 999;
        color: $slate-secondary-3;
      }
    }
  }

  .calc-input-radio {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: -15px;
    @include x-small {
      margin-top: -15px;
    }
    & input {
      position: absolute !important;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      width: 1px;
      border: 0;
      overflow: hidden;
      &:checked + label {
        box-shadow: none;
        background-image: url(https://fm.cnbc.com/applications/cnbc.com/resources/files/2020/01/29/white-radio-filled.png);
      }
    }
    & label {
      background-image: url(https://fm.cnbc.com/applications/cnbc.com/resources/files/2020/01/29/white-radio-empty.png);
      background-repeat: no-repeat;
      background-size: 18px;
      background-position: 0px center;
      font-size: 16px;
      line-height: 1;
      font-weight: 500;
      letter-spacing: .7px;
      padding: 8px 2px 6px 24px;
      margin-right: 10px;
      border: 0;
      transition: all 0.2s ease-in-out;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .results {
    flex-grow: 1;
    background-color: white;
    padding: 10px 0;
    margin-top: 5px;
    height: 80%;
    @include x-x-small {
      max-width: 250px;
    }
    @include x-small-only {
      max-width: 320px;
    }
  }

  p.label-text {
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 600;
    font-size: 16px;
    margin-left: 10px;
    @include sm-md-xl {
      text-align: center;
      margin-left: 0px;
    }
  }

  .value-text  {
    font-size: 36px;
    line-height: 34px;
    font-weight: 700;
    color: $green-primary;
    margin-top: 5px;
    margin-left: 10px;
    @include sm-md-xl {
      text-align: center;
      margin-left: 0px;
    }
  }

  & .chart-container {
    width: 100%;
    height: 275px;
    margin-top: -35px;
    @include x-small {
      margin-top: -20px;
      margin-bottom: 20px;
    }
  }

  .chart-credit {
    font-size: 9.5px;
    line-height: 12px;
    text-transform: uppercase;
    color: $slate-secondary-5;
    letter-spacing: 1px;
    width: 100%;
    color: white;
    margin-top: 20px;
    @include sm-md-xl {
        font-size: 10px;
        text-align: right;
        margin-bottom: -40px;
  
    }
  }

  & .grow-logo {
    width: 214px;
    margin-top: 10px;
    margin-right: 20px;
  }

& .highcharts-legend {
  @include sm-md-xl {
    transform: translate(135px,20px) !important;
  }
  @include x-small {
    transform: translate(3px,0) !important;
  }
  
}

}

